### ===== Android =====
*.iml
.gradle/
local.properties
.idea/
.DS_Store
/build
**/build/

### ===== Kotlin / Java =====
out/
captures/

### ===== Firebase / Node =====
functions/node_modules/
node_modules/
.env

### ===== Logs =====
*.log

### ===== OS =====
Thumbs.db
